%h1 All Circus Events
- if @events
  = @events.each do |event|
    %ul
      %li Studio Name: #{}
      %li Address: #{}
        %p #{}, #{}
      %li Description: #{}
  = end
- else
  %p Sorry, there are no events scheduled
